.sidebar {
  position: fixed;
  background-color: #e7e7e7;
  height: 100vh;
  width: 250px;
  display: flex;
  top: 0;
  left: -155px;
  transition: 350ms;
  z-index: 40;
}

.sidebar.active {
  left: 0;
  transition: 350ms;
}

.newChat {
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #dbdbdb;
  top: 10rem;
  z-index: 100;
  transition: 350ms;
}

.newChat:active {
  background-color: #bebcbc;
}


.newChat span {
  font-size: 16px;
  color: #7b7b7b;
}

.logout {
  width: 40px;
  height: 40px;
}

.logout.active {
  width: 130px;
}

.newChat.active {
  gap: 10px;
  width: 130px;
  border-radius: 40px;
  transition: 350ms;
}

.chat-bg {
  background-color: rgba(255, 114, 94, 0.7);
}

@media screen and (max-width: 768px) {
  .sidebar {
    left: -250px;
  }

  .newChat {
    display: none;
    top: 8rem;
  }

  .newChat span {
    font-size: 14px;
  }

  .newChat.active {
    display: flex;
    width: 120px;
  }

  .logout {
    display: none;
  }

  .logout.active {
    display: flex;
  }
}
